.main {
  display: flex;
}

.box {
  border: 1px solid;
  margin: 0.5rem;
  padding: 1rem;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.action {
  cursor: pointer;
  text-decoration: underline;
}

.logout {
  color: red;
  margin-left: 0.5rem;
}

.sidebar {
  flex: 1;
}

.content {
  flex: 5;
}

.form-item {
  margin: 1rem;
}
